@charset "UTF-8";
/*
em HTML é id  --> em CSS é #
em HTML class --> em CSS é . (ponto)*/
body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {/*o h1, que tiver apenas a identificação h1, terá a configuração abaixo*/
    color: #1e402f;
}

h1#principal {/*agora o h1, que tiver o id principal, terá a configuração abaixo
    pode ser adicionado no CSS: h1#principal ou #principal*/
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

/*para identificar uma class basta adicionar . (ponto) e logo em seguida o nome que foi dado a classe*/
.basico {
    color: #3c805e;
    font-weight: bold;
}

.intermdiario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}