@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilas: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*overflow: hidden, é utilizado para controlar o que acontece quando o conteúdo de um elemento excede seu tamanho definido. Quando aplicado, ele esconde qualquer conteúdo que ultrapasse as dimensões especificadas do elemento.*/

    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    transition: width 0.3s, height 0.3s;/*
    é uma abreviação que permite que você especifique como as mudanças em uma ou mais propriedades CSS de um elemento devem ocorrer ao longo do tempo. Isso cria um efeito de transição suave entre os estados iniciais e finais de um elemento
    */
    transition-timing-function: ease;/*
    define a velocidade da transição ao longo de sua duração. Ela controla o ritmo da transição, ou seja, se ela será constante, acelerada, desacelerada ou uma combinação dessas.
    */
}

section#login > div#imagem{
    display: block;
    background-image: url(../imagens/pexels-ivaoo-691710\(1\).jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > input[type=submit] {
    background-color: #49a09d;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    cursor: pointer;
    border: none;
}

form > input[type=submit]:hover {
    background-color: #6cd3cf;
}

form div.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > div > label {
    display: none;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #49a09d;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao > i{
    font-size: 0.8em;
}